.content {
    width: 100vw;
}
section#introduction {
    background-image: url("/assets/home-background.gif");
    background-size: cover;
}

.overlay {
    background-color: transparent;
    color: white;
    position: relative;
    top: 0;
    bottom: 0;
    height: 88vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#introduction p {
    font-size: var(--base-font-size);
    text-shadow: 2px 2px goldenrod;
    margin: 20px;
    text-align: center;
}