#form-box {
    max-width: 70vw;
    margin: 40px auto 20px auto;
    padding: 20px;
    border: 3px solid var(--main-theme-color);
    border-radius: 25px;
    background: var(--secondary-theme-color);
}

#logo-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.input-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
}

div.app-input-box.error {
    border: 2px solid var(--warning-theme-color);
}

div.app-input-box img.close {
    height: 30px;
    width: 30px;
    cursor: pointer;
}

.signup {
    margin: 40px;
}