#search-form {
    max-width: var(--optimal-full-screen-width);
    margin: 0 auto 20px auto;
    padding: 20px;
    border: 3px solid var(--main-theme-color);
    border-radius: 25px;
    background: var(--secondary-theme-color);
}

div.app-input-box input[type="date"] {
    width: 230px;
    box-sizing: border-box;
}


button.prenota {
    max-width: 30%;
}

@media (max-width: 768px) {
    div.app-input-box {
        flex-direction: column;
    }
    
    button.prenota {
        max-width: 40%;
    }
    
}